<p>
Welcome to <span class="emphasise">carehomely</span>, a demo application created
by Jack Preston.
</p>

<p>
To use the app, you'll need to
<%= link_to "log in", sign_in_path, class: "true-link" %>
as an admin user. Don't worry, though: the
<%= link_to "registration page", sign_up_path, class: "true-link" %>
will accept any credentials you give it. This is just a demo, after all!
</p>

<p>
You can find the source code on <%= link_to "Github", "https://github.com/unwitting/chomely", class: "true-link" %>.
I've left some notes on some choices I made and what I would like to do with a bit more time
in <%= link_to "README.md", "https://github.com/unwitting/chomely/blob/master/README.md", class: "true-link" %>.
</p>