<% provide(:title, "Residents") %>
<div class="residents">
  <h1>Residents</h1>

  <%= link_to 'Register a new resident', new_resident_path, class: 'button' %>

  <div class="residents-list">
    <% @residents.each_with_index do |resident, i| %>
      <%= render 'resident_card', resident: resident, index: i %>
    <% end %>
  </div>
</div>
