<% provide(:title, "#{@room.name} | Rooms") %>
<div class="room">
  <%= render 'room_card', room: @room, index: 0 %>

  <h2>Current residents</h2>
  <div class="residents-list">
    <% @room.residents.each_with_index do |resident, i| %>
      <%= render 'residents/resident_card', resident: resident, index: i %>
    <% end %>
  </div>
</div>
